/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

/* remove bhrugen
    .btn-primary {
  color: #fff;
  background-color: #2c3e50;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  
  /*background-color: #1b6ec2;*/
background-color: #2c3e50;
border-color: #1861ac;
}

*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    top: 110%;
    width: 1024px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.boxContainer {
    display: table;
}

.box {
    width: 200px;
    height: 200px;
    background: #0088cc;
    padding: 2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

#header {
    position: relative;
    min-height: 150px;
}

#header-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}



#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    #logreg-forms form {
        width: 100%;
        max-width: 410px;
        padding: 15px;
        margin: auto;
    }

    #logreg-forms .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        #logreg-forms .form-control:focus {
            z-index: 2;
        }

    #logreg-forms .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #logreg-forms .form-signin input[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #logreg-forms .social-login {
        width: 390px;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    #logreg-forms .social-btn {
        font-weight: 100;
        color: white;
        width: 190px;
        font-size: 0.9rem;
    }

    #logreg-forms a {
        display: block;
        padding-top: 10px;
        color: lightseagreen;
    }

#logreg-form .lines {
    width: 200px;
    border: 1px solid red;
}


#logreg-forms button[type="submit"] {
    margin-top: 10px;
}

.facebook-btn {
    background-color: #3C589C;
    color: white;
}

.google-btn {
    background-color: #dd4b39;
    color: white;
}

#logreg-forms .form-reset, #logreg-forms .form-signup {
    display: none;
}

    #logreg-forms .form-signup .social-btn {
        width: 210px;
    }

    #logreg-forms .form-signup input {
        margin-bottom: 2px;
    }

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}

.card-img {
    border-radius: 2px;
}

    .card-img:hover {
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    }
.dots {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/*Product Detail*/
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

:root {
    --primary-color: #fc6514;
    --second-color: #b2bec3;
    --empty--color: rgba(255, 255, 255, 0);
}

body {
    margin: 0;
}

/* container */
.container-product-detail {
    /* position: static; */
    max-width: 1024px;
    margin: auto;
    height: 1024px;
}

.product__header {
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    margin: 1rem;
}

.product-header__home a {
    text-decoration: none;
    color: #1565c0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-header__icon {
    color: #b2bec8;
    padding: 0 0.25rem 0.1rem;
    font-size: 0.6rem;
}

.product-header__name {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* product-detail */
.product-detail {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 56px 550px auto;
    grid-column-gap: 2rem;
    /* overflow: hidden; */
}

.product-detail__item {
    height: 550px;
    position: relative;
    /* overflow: hidden; */
    /* background-color: #ccc; */
}

.product-detail__title {
    margin: 1rem 0 1rem 0;
}

    .product-detail__title span {
        font-size: 1.5rem;
    }

.product-detail__thumb {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    opacity: 0.5;
    overflow: hidden;
    /*background-position: center center;
    position: relative;*/
    margin-bottom: 0.5rem;
}

    .product-detail__thumb:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    .product-detail__thumb img {
        /*position: absolute;
        left: -1000%;
        right: -1000%;
        top: -1000%;
        bottom: -1000%;
        margin: auto;
        width: 100%;*/
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
.selected-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    opacity: 1;
    border: 2px solid black;
    border-radius: 5px;
    /*box-shadow: 0 4px 5px 0 rgb(99 110 114 / 14%), 0 1px 10px 0 rgb(99 110 114 / 12%), 0 2px 4px 0 rgb(99 110 114 / 20%);*/
}

.product-detail__thumb.selected-thumb {
    border: 1px solid #0984e3;
}

.product-detail__thumb-after {
    margin-top: 1rem;
}

.product-detail__regular {
    position: relative;
    display: flex;
    align-items: center;
}

.product-detail-regular__img {
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* position: relative; */
}

.product-detail__regular img {
    max-height: 100%;
    max-width: 100%;
    border-radius: .5rem;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    /* background-color: #ccc; */
    opacity: 0.5;
    pointer-events: none;
    display: none;
}

.product-detail__swipe-btn {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(34 34 34 / 45%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636e72;
    cursor: pointer;
}

    .product-detail__swipe-btn i {
        font-size: 1.2rem;
    }

.product-detail__swipe-btn--left {
    position: absolute;
    /*top: 50%;*/
    left: 0;
}

.product-detail__swipe-btn--right {
    position: absolute;
    /*top: 50%;*/
    right: 0;
}

.img-zoom-result {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 328px;
    height: 328px;
    display: none;
}

.backtotop-btn__text {
    margin-right: 0.5rem;
    font-weight: 600;
    color: #2d3436;
}

.backtotop-btn__icon {
    font-size: 0.8rem;
    color: #636e72;
}

.product-detail__price {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.product-detail-price__off {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 0.75rem;
}

.product-detail-price__not-off {
    /*font-size: 13px;*/
    color: #595959;
}

.product-detail__quantity {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.product-detail__price-list {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;
    font-weight: 500;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

.product-detail__qty {
    margin-bottom: 2rem;
}

.product-detail-qty__label {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.product-detail-qty__count {
    width: 100%;
    height: 40px;
    padding: 0 0.75rem 0 0.75rem;
    border-radius: 6px;
    background: #ffffff;
    border: solid 1px rgba(34, 34, 34, 0.15);
    box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
    box-sizing: border-box;
}

    .product-detail-qty__count:focus {
        outline: none;
        border-color: rgba(34, 34, 34, 0.5);
        box-shadow: 0 1px 12px 0 rgb(34 34 34 / 20%);
    }

.btn-add-to-card {
    width: 100%;
    height: 46px;
    background: #2f2f2f;
    color: white;
    border-radius: 24px;
    border: none;
    transition: transform 0.2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn-add-to-card:focus {
        outline: none;
    }

    .btn-add-to-card::before {
        width: 100%;
        background-color: #000;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 24px;
        z-index: -1;
    }

    .btn-add-to-card:hover::before {
        /*color: white !important;*/
        transform: scale(1.01);
    }

.btn-add-to-card__text {
    color: white;
    text-decoration: none;
    position: absolute;
    font-weight: 500;
}

.product-detail-desc__label {
    font-weight: 500;
    margin: 1rem 0 1rem 0;
}


/*=============ShoppingCart============*/
:root {
    --primary-color: #fc6514;
    --second-color: #b2bec3;
    --empty--color: rgba(255, 255, 255, 0);
    --second--font: "Cairo", sans-serif;
}
.shopping-cart {
    width: 1024px;
    margin: auto;
}

.shopping-cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
}

.shopping-cart-header__number {
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
}

.shopping-cart-header__keep-shopping {
    padding: 11px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #222222!important;
    text-decoration: none !important;
}

    .shopping-cart-header__keep-shopping::before {
        position: absolute;
        width: 100%;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.7) perspective(1px);
        transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), opacity 150ms ease-out;
        border-radius: 24px;
        z-index: -1;
        background-color: #ededed;
        opacity: 0;
    }

    .shopping-cart-header__keep-shopping:hover::before {
        opacity: 1;
        transform: scale(1);
        background-color: #ededed;
    }

.shopping-cart__main {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-column-gap: 2rem;
}

.shopping-cart__item {
    /* height: 500px; */
    /* background-color: #ccc; */
    box-sizing: border-box;
}

.shopping-cart__product {
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 0.2fr 0.1fr 0.2fr;
    grid-column-gap: 2rem;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

.shopping-cart-product__item {
    height: 120px;
    /* background-color: red; */
    margin: 1rem 0 1rem 0;
}
.shopping-cart-product__title {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #222222!important;
}
.shopping-cart-product__item i {
    color: #222222;
}
.shopping-cart-product__img {
    height: 100%;
}
    .shopping-cart-product__img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: .25rem;
    }

.shopping-cart-product__desc {
    font-size: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
}
.shopping-cart-product__number{
    display: flex;
    justify-content: center;
}
.shopping-cart-product__remove span {
    font-size: 0.85rem;
    font-weight: 700;
    color: #222222;
}
    .shopping-cart-product__remove a{
        text-decoration: none;
    }
    .shopping-cart-product__icons {
        display: flex;
        justify-content: space-evenly;
    }

.shopping-cart-product-icon__plus-and-minus {
    display: flex;
    justify-content: space-between;
}

.shopping-cart-product-icon__plus {
    margin-right: 1rem;
}

.shopping-cart-product__btn {
    display: flex;
    justify-content: flex-end;
}
/* .shopping-cart-product__img img{
  height: 50px;
} */
.shopping-cart__checkout {
    padding: 1rem;
    /* height: 250px; */
    border-radius: 24px;
    /* border: 1px solid red; */
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}

.shopping-cart-checkout__header {
    margin: 0.5rem;
    font-weight: 500;
}

.shopping-cart-checkout__list-icon {
    display: flex;
    margin-bottom: 1rem;
}

    .shopping-cart-checkout__list-icon img {
        height: 30px;
    }

.shopping-cart-checkout__master-card,
.shopping-cart-checkout__visa {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.shopping-cart-checkout__total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

.btn-add-to-checkout {
    /* width: 100%; */
    height: 46px;
    margin: 0.5rem;
    background: #2f2f2f;
    color: white;
    border-radius: 24px;
    border: none;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}

    .btn-add-to-checkout::before {
        width: 100%;
        background-color: #000;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 24px;
        z-index: -1;
    }

    .btn-add-to-checkout:hover::before {
        transform: scale(1.01);
    }

.btn-add-to-checkout__text {
    color: white;
    text-decoration: none;
    position: absolute;
    font-weight: 500;
}

/*===============SUMMARY================*/
.summary {
    width: 1024px;
    margin: auto;
}

.summary__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.summary-header__number {
    font-family: var(--second--font);
    font-size: 2rem;
}

.summary-header__keep-shopping {
    padding: 11px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #222222!important;
    text-decoration: none!important;
}

    .summary-header__keep-shopping::before {
        position: absolute;
        width: 100%;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.7) perspective(1px);
        transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), opacity 150ms ease-out;
        border-radius: 24px;
        z-index: -1;
        background-color: #ededed;
        opacity: 0;
    }

    .summary-header__keep-shopping:hover::before {
        opacity: 1;
        transform: scale(1);
        background-color: #ededed;
    }

.summary__main {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-column-gap: 10rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.summary__item {
    /* height: 500px; */
    /* background-color: #ccc; */
    box-sizing: border-box;
}

.summary-product__item {
    /* height: 120px;
  background-color: red;
  margin: 1rem 0 1rem 0; */
}
.summary-product__title {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.summary-product__price span {
    font-weight: 500;
}

.summary-product__img img {
    width: 100%;
}

.summary-product__desc {
    font-size: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
}

.summary-product__remove span {
    font-size: 0.85rem;
    font-weight: 700;
}

.summary-product__icons {
    display: flex;
    justify-content: space-evenly;
}

.summary-product-icon__plus-and-minus {
    display: flex;
    justify-content: space-between;
}

.summary-product-icon__plus {
    margin-right: 1rem;
}

.summary-product__btn {
    display: flex;
    justify-content: flex-end;
}
/* .summary-product__img img{
  height: 50px;
} */
.summary__checkout {
    padding: 1rem;
    /* height: 250px; */
    border-radius: 24px;
    /* border: 1px solid red; */
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}

.summary-checkout__header {
    margin: 0.5rem;
    font-weight: 500;
}

.summary-checkout__list-icon {
    display: flex;
    margin-bottom: 1rem;
}

    .summary-checkout__list-icon img {
        height: 30px;
    }

.summary-checkout__master-card,
.summary-checkout__visa {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.summary-checkout__total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

.btn-shop {
    /* width: 100%; */
    height: 46px;
    margin: 0.5rem;
    text-decoration: none;
    background: #2f2f2f;
    color: white;
    border-radius: 24px;
    border: none;
    font-weight: 500;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}

    .btn-shop::before {
        width: 100%;
        background-color: #000;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 24px;
        z-index: -1;
    }

    .btn-shop:hover::before {
        transform: scale(1.01);
    }

.btn-shop__text {
    position: absolute;
    font-weight: 500;
}

.input-shop {
    width: 100%;
    height: 40px;
    padding: 0 0.75rem 0 0.75rem;
    border-radius: 6px;
    background: #ffffff;
    border: solid 1px rgba(34, 34, 34, 0.15);
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%);
    box-sizing: border-box;
}

    .input-shop:focus {
        outline: none;
        border-color: rgba(34, 34, 34, 0.5);
        box-shadow: 0 1px 12px 0 rgb(34 34 34 / 20%);
    }

.summary__product {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.summary-product__qty span {
    font-size: 0.75rem;
}

.summary__address span {
    font-weight: 500;
    font-size: 0.85rem;
}

.summary__address input {
    margin: 0.25rem 0;
}

.summary__title {
    font-size: 1.8rem !important;
    font-family: var(--second--font);
}

.summary-address__state-postal-code {
    display: flex;
}

.summary-address__state {
    margin-right: 2rem;
}

.summary__total {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

    .summary__total span {
        font-weight: bold;
    }

.required:after {
    content: " *";
    color: red;
}

/* footer */
.summary__footer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-column-gap: 10rem;
    /* display: flex;
  justify-content: space-between; */
    padding: 1rem 0;
}

.summary-footer__arrival-date span {
    color: maroon;
}

/*==================SIGN IN==============*/
.sign-in {
    width: 360px;
    margin: auto;
    padding: 1rem;
}

.sign-in__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sign-in__top--sign-in {
    font-size: 1.5rem;
    font-weight: 500;
}

.sign-in__top--register {
    font-size: 0.85rem;
    text-decoration: none!important;
    color: #222222!important;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    font-weight: 600;
    transform: scale(1);
    transition: 0.2s all ease;
}

    .sign-in__top--register::before {
        width: 100%;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        border-radius: 24px;
        border: 2px solid black;
        z-index: -1;
    }

    .sign-in__top--register:hover::before {
        transform: scale(1.03);
        box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    }
.sign-in__username--email, .sign-in__username--password {
    margin-bottom: 1rem;
}
.sign-in__username--label {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.sign-in__username--input {
    width: 100%;
    height: 2.5rem;
    padding: 0 0.75rem 0 0.75rem;
    border-radius: 6px;
    background: #ffffff;
    border: solid 1px rgba(34, 34, 34, 0.15);
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    box-sizing: border-box;
    /*margin-bottom: 1rem;*/
}

    .sign-in__username--input:focus {
        outline: none;
        border-color: rgba(34, 34, 34, 0.5);
        box-shadow: 0 1px 12px 0 rgb(34 34 34 / 20%);
    }
.bulky-input {
    width: 100%;
    height: 2.5rem;
    padding: 0 0.75rem 0 0.75rem;
    /*border-radius: 6px;*/
    background: #ffffff;
    border: solid 1px rgba(34, 34, 34, 0.15);
    /*box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;*/
    box-sizing: border-box;
    /*margin-bottom: 1rem;*/
}

    .bulky-input:focus {
        outline: none;
        border-color: rgba(34, 34, 34, 0.5);
        box-shadow: 0 1px 12px 0 rgb(34 34 34 / 20%);
    }
.sign-in__username span, .register__username span, .text-danger.signin-validate.validation-summary-errors li {
    font-weight: 500;
    font-size: 0.85rem !important;
    list-style: none;
}
.sign-in__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.sign-in__bottom--stay-group {
    display: flex;
    align-items: center;
}

.sign-in__bottom--checkbox {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin: 0;
    background-color: #fafafa;
    border: 2px solid #cacece;
    border-radius: 5px;
    position: relative;
}

    .sign-in__bottom--checkbox:checked {
        height: 25px;
        width: 25px;
        background-color: black;
        background-image: url("/images/content/check.svg");
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #99a1a7;
    }
/* .sign-in__bottom--checkbox:checked::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 1.25rem;
  position: absolute;
  bottom: 3px;
  left: 3px;
  color: #fafafa;
  font-weight: 900;
} */
.sign-in__bottom--stay {
    font-size: 1.05rem;
    margin-left: 0.5rem;
}

.sign-in__bottom--forgot-password {
    color: #595959;
    font-size: 0.85rem;
}

.sign-in__btn {
    width: 100%;
    /*height: 46px;*/
    padding: .55rem;
    margin: 0.5rem 0;
    text-decoration: none;
    background: #2f2f2f;
    color: white;
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 1.05rem;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}

    .sign-in__btn::before {
        width: 100%;
        background-color: #000;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 24px;
        z-index: -1;
    }

    .sign-in__btn:hover::before {
        transform: scale(1.01);
    }

.bulky-btn {
    width: 100%;
    padding: .5rem;
    margin: 0.5rem 0;
    text-decoration: none;
    background: #333333;
    color: white;
    /*border-radius: 24px;*/
    border: none;
    font-weight: 500;
    font-size: 1.05rem;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}

    .bulky-btn::before {
        width: 100%;
        background-color: #333333;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /*border-radius: 24px;*/
        z-index: -1;
    }

    .bulky-btn:hover::before {
        transform: scale(1.01);
    }
.silent-btn {
    width: 100%;
    padding: .5rem;
    margin: 0.5rem 0;
    text-decoration: none;
    background: #7c7c7c;
    color: white;
    /*border-radius: 24px;*/
    border: none;
    font-weight: 500;
    font-size: 1.05rem;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}
.back-btn{
    width: 100%;
    padding: .5rem;
    margin: 0.5rem 0;
    text-decoration: none;
    background: #2f2f2f;
    color: white;
    /*border-radius: 24px;*/
    border: none;
    font-weight: 500;
    font-size: 1.05rem;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}

    .back-btn::before {
        width: 100%;
        background-color: #7c7c7c;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /*border-radius: 24px;*/
        z-index: -1;
    }

    .back-btn:hover::before {
        transform: scale(1.01);
    }
.sign-in__line {
    margin: 2rem 0;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
    position: relative;
}

.sign-in__line--text {
    width: 100%;
    position: absolute;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
}

    .sign-in__line--text::before {
        content: "OR";
        position: absolute;
        bottom: -9px;
        padding: 0 1rem;
        background: white;
        display: flex;
        justify-content: center;
    }

.sign-in-btn__social .sign-in__btn {
    color: black;
}

    .sign-in-btn__social .sign-in__btn::before {
        background-color: #fff;
        border: 2px solid black;
    }

.sign-in-btn__social i {
    margin-right: 0.5rem;
}

.fa-google {
    background: conic-gradient( from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg ) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-facebook-square {
    color: #3c5a99;
    font-size: 1.2rem;
}



/*=============REGISTER==============*/
.register {
    width: 360px;
    margin: auto;
    padding: 1rem;
}

.register__top {
    margin-bottom: 1rem;
}

.register__top--create {
    font-size: 1.5rem;
    font-weight: 500;
}

.register__top--registration {
    margin: 0.25rem 0 0.5rem 0;
    opacity: 0.9;
}

.register__username--label {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.register__username--input {
    width: 100%;
    height: 40px;
    padding: 0 0.75rem 0 0.75rem;
    border-radius: 6px;
    background: #ffffff;
    border: solid 1px rgba(34, 34, 34, 0.15);
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    box-sizing: border-box;
}

    .register__username--input:focus {
        outline: none;
        border-color: rgba(34, 34, 34, 0.5);
        box-shadow: 0 1px 12px 0 rgb(34 34 34 / 20%);
    }

.register__username--state-postal-code {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}
.register__username--email, .register__username--name, .register__username--phone, .register__username--street, .register__username--city, .register__username--state-postal-code, .register__username--password, .register__username--confirm-password, .register__username--Role, .register__username--company {
    margin-bottom: 1rem;
}
.required:after {
    content: " *";
    color: red;
}



.register__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.register__bottom--stay-group {
    display: flex;
    align-items: center;
}

.register__bottom--checkbox {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin: 0;
    background-color: #fafafa;
    border: 2px solid #cacece;
    border-radius: 5px;
    position: relative;
}

    .register__bottom--checkbox:checked {
        height: 25px;
        width: 25px;
        background-color: black;
        background-image: url("check.svg");
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #99a1a7;
    }
/* .register__bottom--checkbox:checked::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 1.25rem;
  position: absolute;
  bottom: 3px;
  left: 3px;
  color: #fafafa;
  font-weight: 900;
} */
.register__bottom--stay {
    font-size: 1.05rem;
    margin-left: 0.5rem;
}

.register__bottom--forgot-password {
    color: #595959;
    font-size: 0.85rem;
}

.register__btn {
     width: 100%; 
    height: 46px;
    margin: 0.5rem 0;
    background: #2f2f2f;
    color: white;
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 1.05rem;
    /* transition: transform 0.2s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: 0.2s all ease;
    cursor: pointer;
}

    .register__btn::before {
        width: 100%;
        background-color: #000;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 24px;
        z-index: -1;
    }

    .register__btn:hover::before {
        transform: scale(1.01);
    }

.register__line {
    margin: 2rem 0;
    border-top: 1px solid rgba(34, 34, 34, 0.15);
    position: relative;
}

.register__line--text {
    width: 100%;
    position: absolute;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
}

    .register__line--text::before {
        content: "OR";
        position: absolute;
        bottom: -9px;
        padding: 0 1rem;
        background: white;
        display: flex;
        justify-content: center;
    }

.register-btn__social .register__btn {
    color: black;
}

    .register-btn__social .register__btn::before {
        background-color: #fff;
        border: 2px solid black;
    }

.register-btn__social i {
    margin-right: 0.5rem;
}


/* ==========MANAGER========= */
.bulky-manager {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f7f7f7;
    height: 2rem;
}

.content-manager,
.user-company-manager,
.order-manager {
    font-weight: 500;
    margin: 0 2rem;
    font-size: 0.85rem;
    /* display: flex; */
    /* align-items: center; */
    height: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.fa-sort-down {
    font-size: 1.5rem;
}

.content-manager__dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

.content-manager__dropdown-item {
    width: 100%;
    text-decoration: none;
    color: #222222;
    padding: 0.5rem 1rem;
    display: inline-block;
}

    .content-manager__dropdown-item:hover {
        background-color: #222222;
        color: #ededed;
    }

.content-manager:hover .content-manager__dropdown-menu {
    display: block;
}

.user-company-manager:hover .content-manager__dropdown-menu {
    display: block;
}

.order-manager a,
.order-manager span {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    height: 100%;
    text-decoration: none;
    color: #222222;
}
/* ========HEADER========= */
.bulky-header {
    width: 1024px;
    margin: auto;
}

.top-header {
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.3fr;
    align-items: center;
    grid-column-gap: 1rem;
    max-height: 60px;
    margin: 1rem 0;
}

.top-header__logo {
    display: flex;
    align-items: center;
}

    .top-header__logo img {
        max-height: 40px;
    }

.top-header__search {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
}

.top-header__search-input {
    width: 100%;
    padding: 0.5rem 3.5rem 0.5rem 1.2rem;
    border-radius: 24px;
    box-sizing: border-box;
    font-size: 1.2rem;
    background: #efefef;
    outline: none;
    border: 1px solid #22222280;
    box-shadow: 1px 2px 4px 0 rgb(34 34 34 / 10%) inset;
}

.top-header__search-btn {
    /* background-color: red; */
    position: absolute;
    right: 0;
    height: 100%;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222222;
    border: none;
    background: transparent;
}

.search-btn-color {
    background-color: #222222;
    color: #efefef;
    transition: all 300ms ease-out;
}

.fa-search {
    font-size: 1.25rem;
}

.top-header__search-input:focus {
    border: 1px solid #222222;
    box-shadow: none;
    background-color: transparent;
}

.top-header__search-btn:focus {
    background-color: #222222;
    color: #efefef;
}

/* ==========LOGIN-CART============ */
.top-header__log-in-cart-history {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.top-header__log-in,
.top-header__cart,
.top-header__history {
    font-weight: 500;
    color: #222222;
    text-decoration: none;
}

.top-header__log-in {
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #222222;
    background: transparent;
    border: none;
}

    .top-header__log-in::before {
        position: absolute;
        width: 100%;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.7) perspective(1px);
        transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), opacity 150ms ease-out;
        border-radius: 24px;
        z-index: -1;
        background-color: #ededed;
        opacity: 0;
    }

    .top-header__log-in:hover::before {
        opacity: 1;
        transform: scale(1);
        background-color: #ededed;
    }

.top-header__cart {
    position: relative;
    padding: 0.75rem;
}

.fa-shopping-cart,
.fa-history {
    font-size: 1.5rem;
}

.top-header__cart-count {
    position: absolute;
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 4px;
    border-radius: 15px;
    background-color: #faa077;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border: 2px solid white;
}

.top-header__username {
     position: relative; 
}

.fa-user {
    font-size: 1.5rem;
    color: #222222;
}

.top-header__username-text {
    width: 100%;
    font-weight: 500;
    color: #222222;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    display: none;
}

.top-header__username:hover .top-header__username-text {
    display: flex;
}
/* #f1641e */
/* ==========BOTTOM-HEADER============ */
.bottom-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
    /* padding-bottom: 0.5rem; */
    margin-bottom: .25rem;
}

.bottom-header__item {
    width: 8rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* font-size: .95rem; */
    padding: 0.5rem;
    font-weight: 500;
    color: #222222;
    transition: ease-out 200ms;
    position: relative;
}

    .bottom-header__item::before {
        content: "";
        position: absolute;
        width: 0;
        border-bottom: 2px solid #222222;
        top: 100%;
        transition: width 300ms cubic-bezier(0.54, 0, 0.54, 1);
    }

    .bottom-header__item:hover.bottom-header__item::before {
        width: 100%;
    }

/* ==========MAIN========= */
.bulky-main {
    width: 1024px;
    margin: auto;
    /*padding: .25rem;*/
}

.main__title {
    font-family: var(--second--font);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.bulky-sort {
    height: 40px;
    padding-left: 0.75rem;
    border-radius: 6px;
    background: #ffffff;
    border: solid 1px rgba(34, 34, 34, 0.35);
    /*box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%);*/
    box-sizing: border-box;
    margin-bottom: 1rem;
    outline: none;
}
.bulky-line {
    border-top: 1px solid #f1f1f1;
    margin: 1rem 0;
}
.bulky-select{
    display: flex;
    justify-content: flex-end;
}
.bulky-select__main {
    width: 180px;
    height: 2.5rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #ccc;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #fff;
    border: 1px solid #9b9b9b;
    box-shadow: 0 3px 0 0 #fafafa;
    border-radius: 3px;
    z-index: 2;
    margin-top: 1rem;
}

.bulky-select__text {
    font-weight: 500;
}

.bulky-select__box {
    position: absolute;
    width: 100%;
    top: 105%;
     background-color: #fff; 
    left: 0;
    display: none;
    box-shadow: 0 1px 6px 0 rgb(34 34 34 / 10%);
    border-radius: 5px;
    overflow: hidden;
}

.bulky-select-box__item {
    padding: 0.5rem 0.5rem;
    transition: all 0.2s ease-in-out;
}
    .bulky-select-box__item a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #222222;
    }
    .bulky-select__icon {
        transition: transform 0.2s ease-in-out;
    }

.bulky-select-open .bulky-select__icon {
    transform: rotate(180deg);
}

.bulky-select-open .bulky-select__box {
    display: block;
}

.bulky-select-box-selected {
    background-color: #d5d5d538;
    font-weight: 500;
}

.bulky-select-box__item:hover {
    background-color: #d5d5d568;
}

.bulky-product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    box-sizing: border-box;
}

.bulky-product {
    width: 240px;
    height: 310px;
    margin: auto;
}

.bulky-product__img {
    height: 60%;
/*    overflow: hidden;
    position: relative;*/
}

    .bulky-product__img img {
        /*position: absolute;
        left: -1000%;
        right: -1000%;
        top: -1000%;
        bottom: -1000%;
        margin: auto;*/
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
    }
        .bulky-product__img img:hover {
            box-shadow: 0 1px 6px 0 rgb(34 34 34 / 20%);
        }

        .bulky-product__title {
            margin-bottom: .25rem;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            color: #222222;
        }

.bulky-product__supplier {
    margin-bottom: .25rem;
    color: #595959;
    font-size: .85rem;
}

.bulky-product__price-group {
    display: flex;
    align-items: center;
}

.bulky-product__price {
    font-size: 1.1rem;
    margin-right: 1rem;
    font-weight: 600;
    color: #222222;
}

.bulky-product__list-price {
    font-size: 0.95rem;
    color: #258635;
    text-decoration: line-through;
}
/*==============PAGING==============*/
.bulky-paging {
    display: flex;
    width: 1024px;
    /*margin: auto;*/
    justify-content: center;
    position: absolute;
    top: 100%;
}

.bulky-paging__page {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    /* background: #222222; */
    color: #222222;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    background: #22222226;
    font-weight: 600;
    font-family: Arial;
}

.active-bulky-page {
    background-color: #a6a6a6;
}

/*===========FOOTER=============*/
.bulky-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    /*position: relative;*/
}
.bulky-footer__main {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color: #232347;
    color: #ededed;
    padding: 0 1rem;
    box-sizing: border-box;
}

    .bulky-footer__main span,
    .bulky-footer__main a {
        font-size: 0.85rem;
        font-weight: 600;
        /* font-family: Arial, Helvetica, sans-serif; */
    }

    .bulky-footer__main a {
        text-decoration: underline;
        color: #ededed;
        font-weight: normal;
    }

.bulky-footer-main__copy {
    display: flex;
}

.bulky-footer-main__copy--inc,
.bulky-footer-main__copy--term {
    margin-right: 1rem;
}