<div class="row">
    <div class="col">
        <button type="submit" class="bulky-btn">Create</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="back-btn">Back to List</a>
    </div>
</div>