@model int
<div class="row d-flex align-items-center">
    <div class="col">
        <button type="submit" class="bulky-btn" asp-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="back-btn">Back to List</a>
    </div>
</div>